<div fxLayout="column">
  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row>
      <button mat-raised-button color="accent" class="mat-raised-button" (click)="openNewPersonDialog()">Neu</button>
      <button mat-raised-button color="accent" class="mat-raised-button" (click)="openEditPersonDialog()" [disabled]="selectedRowIndex == '-1'">
        Bearbeiten
      </button>
      <button mat-raised-button color="accent" class="mat-raised-button" (click)="openDeletePersonDialog()" [disabled]="selectedRowIndex == '-1'">Entfernen
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <table mat-table [dataSource]="persons" class="mat-elevation-z8">
    <ng-container matColumnDef="nachname">
      <th mat-header-cell *matHeaderCellDef>Nachname</th>
      <td mat-cell *matCellDef="let element">{{ element?.last_name }}</td>
    </ng-container>
    <ng-container matColumnDef="vorname">
      <th mat-header-cell *matHeaderCellDef>Vorname</th>
      <td mat-cell *matCellDef="let element">{{ element?.first_name }}</td>
    </ng-container>
    <ng-container matColumnDef="geburtsdatum">
      <th mat-header-cell *matHeaderCellDef>Geburtsdatum</th>
      <td mat-cell *matCellDef="let element">{{ element?.birthdate | date: "dd.MM.yyyy" }}</td>
    </ng-container>
    <ng-container matColumnDef="strasse">
      <th mat-header-cell *matHeaderCellDef>Strasse</th>
      <td mat-cell *matCellDef="let element">{{ element.address?.street }}</td>
    </ng-container>
    <ng-container matColumnDef="hausnummer">
      <th mat-header-cell *matHeaderCellDef>Hausnummer</th>
      <td mat-cell *matCellDef="let element">{{ element.address?.house_number }}</td>
    </ng-container>
    <ng-container matColumnDef="postleitzahl">
      <th mat-header-cell *matHeaderCellDef>Postleitzahl</th>
      <td mat-cell *matCellDef="let element">{{ element.address?.postal_code }}</td>
    </ng-container>
    <ng-container matColumnDef="ort">
      <th mat-header-cell *matHeaderCellDef>Ort</th>
      <td mat-cell *matCellDef="let element">{{ element.address?.location }}</td>
    </ng-container>
    <ng-container matColumnDef="land">
      <th mat-header-cell *matHeaderCellDef>Land</th>
      <td mat-cell *matCellDef="let element">{{ element.address?.country }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{highlight: selectedRowIndex == row.id}"
        (click)="highlightRow(row)"></tr>
  </table>
</div>


