<div fxFlexFill fxLayout="column" class="dialog" style="overflow: auto;max-height: 90vh">
  <mat-label fxFlex="50px" fxLayoutAlign="center center" class="mat-label">Neue Person erstellen</mat-label>
  <div fxLayout="column" fxFlex style="margin-bottom: 20px">
    <mat-form-field>
      <mat-label>Standort</mat-label>
      <mat-select (selectionChange)="onSelectedLocationChanged($event.value)">
        @for (standort of standorte; track standort) {
          <mat-option [value]="standort.id">{{standort.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rolle</mat-label>
      <mat-select (selectionChange)="onSelectedRoleChanged($event.value)">
        @for (rolle of rollen; track rolle) {
          <mat-option [value]="rolle.id">{{rolle.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Klasse</mat-label>
      <mat-select (selectionChange)="onSelectedClassChanged($event.value)">
        @for (klasse of klassen; track klasse) {
          <mat-option [value]="klasse.id">{{klasse.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex style="margin-right: 10px">
      <app-auto-complete [numMinChars]="1" [name]="'Nachname'" [optionsList]="data.personAutoComplete.nachnamen" (selected)="onPersonLastNameSelected($event)" [value]="person.last_name"></app-auto-complete>
      <app-auto-complete [numMinChars]="1" [name]="'Vorname'" [optionsList]="data.personAutoComplete.vornamen" (selected)="onPersonFirstNameSelected($event)" [value]="person.first_name"></app-auto-complete>
      <app-auto-complete [numMinChars]="1" [name]="'Geburtsdatum'" [optionsList]="data.personAutoComplete.geburtsdaten" (selected)="onPersonBirthdaySelected($event)" [value]="person.birthdate"></app-auto-complete>
    </div>
    <div fxLayout="column" fxFlex style="margin-left: 10px">
      <app-auto-complete [numMinChars]="1" [name]="'Strasse'" [optionsList]="data.personAutoComplete.strassen" (selected)="onPersonStreetSelected($event)" [value]="person.address.street"></app-auto-complete>
      <app-auto-complete [numMinChars]="1" [name]="'Hausnummer'" [optionsList]="data.personAutoComplete.hausnummern" (selected)="onPersonHouseNumberSelected($event)" [value]="person.address.house_number"></app-auto-complete>
      <app-auto-complete [numMinChars]="1" [name]="'Postleitzahl'" [optionsList]="data.personAutoComplete.postleitzahlen" (selected)="onPersonPostalCodeSelected($event)" [value]="person.address.postal_code"></app-auto-complete>
      <app-auto-complete [numMinChars]="1" [name]="'Ort'" [optionsList]="data.personAutoComplete.orte" (selected)="onPersonLocationSelected($event)" [value]="person.address.location"></app-auto-complete>
      <app-auto-complete [numMinChars]="1" [name]="'Land'" [optionsList]="data.personAutoComplete.laender" (selected)="onPersonCountrySelected($event)" [value]="person.address.country"></app-auto-complete>
    </div>
  </div>
  <button fxFlex="50px" class="mat-raised-button" mat-raised-button color="primary" (click)="save()">Speichern</button>
</div>
