<div fxLayout="column" class="dialog">
  <mat-label class="mat-label">Neue Person</mat-label>
  <app-auto-complete [name]="'Nachname'" [optionsList]="nachnamen" (selected)="onNachnameSelected($event)"></app-auto-complete>
  <app-auto-complete [name]="'Vorname'" [optionsList]="vornamen" (selected)="onVornameSelected($event)"></app-auto-complete>
  <app-auto-complete [name]="'Geburtsdatum'" [optionsList]="geburtsdaten" (selected)="onGeburtsdatumSelected($event)"></app-auto-complete>
  <app-auto-complete [name]="'Strasse'" [optionsList]="strassen" (selected)="onStrasseSelected($event)"></app-auto-complete>
  <app-auto-complete [name]="'Hausnummer'" [optionsList]="hausnummern" (selected)="onHausnummerSelected($event)"></app-auto-complete>
  <app-auto-complete [name]="'Postleitzahl'" [optionsList]="postleitzahlen" (selected)="onPostleitzahlSelected($event)"></app-auto-complete>
  <app-auto-complete [name]="'Ort'" [optionsList]="orte" (selected)="onOrtSelected($event)"></app-auto-complete>
  <app-auto-complete [name]="'Land'" [optionsList]="laender" (selected)="onLandSelected($event)"></app-auto-complete>
  <button class="mat-raised-button" mat-raised-button color="primary" (click)="save()">Speichern</button>
</div>
