.mat-sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}


.mat-sidenav {
  width: 300px;
  padding: 20px;
  box-shadow: 3px 0 7px rgba(0,0,0,0.3);
  background-color: #d9d9d9;
}

.mat-sidenav-content {
  padding: 20px;
  overflow: auto;
}

.mat-button {
  margin-bottom: 5px;
  font-size: 20px;
}

.mat-divider {
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #3f51b5;
}

.mat-toolbar {
  height: 100px;
  background-color: black;
}

.example-spacer {
  flex: 1 1 auto;
}

.center-items {
  display: flex;
  align-items: center;
}
