<mat-toolbar class="mat-toolbar" color="primary">
  <img src="../../../assets/logo.png" alt="logo.png" style="height: 50px;margin-left: 45px">
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="mat-sidenav-container">
  <mat-sidenav class="mat-sidenav" mode="side" opened>
    <div fxLayout="column">
      <button (click)="navigateTo('suche')" class="mat-button" color="primary" mat-button>Suche</button>
      <mat-divider class="mat-divider"></mat-divider>
      <button (click)="navigateTo('standorte')" class="mat-button" color="primary" mat-button>Standorte</button>
      <button (click)="navigateTo('klassen')" class="mat-button" color="primary" mat-button>Klassen</button>
      <button (click)="navigateTo('personen')" class="mat-button" color="primary" mat-button>Personen</button>
      <mat-divider class="mat-divider"></mat-divider>
      <button (click)="navigateTo('inventar')" class="mat-button" color="primary" mat-button>Inventar</button>
      <button (click)="navigateTo('raeume')" class="mat-button" color="primary" mat-button>Räume</button>
      <button (click)="navigateTo('unterricht')" class="mat-button" color="primary" mat-button>Unterricht</button>
      <mat-divider class="mat-divider"></mat-divider>
      <button (click)="navigateTo('rollen')" class="mat-button" color="primary" mat-button>Rollen</button>
      <button (click)="navigateTo('module')" class="mat-button" color="primary" mat-button>Module</button>
      <button (click)="navigateTo('adresse')" class="mat-button" color="primary" mat-button>Adressen</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
