<div fxLayout="column" fxFill style="padding: 10px">
  <mat-label style="text-align: center;font-size: 24px;margin-bottom: 20px;margin-top: 10px">Inventar bearbeiten</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data['inventar']['name']">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Anzahl</mat-label>
    <input matInput [(ngModel)]="data['inventar']['anzahl']">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="editInventory()">Speichern</button>
</div>
