<div class="container">
  <div>
    <mat-form-field appearance="fill" class="text-fields">
      <mat-label>Vorname</mat-label>
      <input #first_name (keyup)="applyFilterFirstName(first_name.value)" id="fname" matInput
             placeholder="Vorname">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="text-fields">
      <mat-label>Nachname</mat-label>
      <input #last_name (keyup)="applyFilterLastName(last_name.value)" id="lname" matInput
             placeholder="Nachname">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="text-fields">
      <mat-select (selectionChange)="applyFilterRole($event.value)" placeholder="Rolle auswählen">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="text-fields">
      <mat-select (selectionChange)="applyFilterLocation($event.value)" placeholder="Standort auswählen">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let location of locations" [value]="location.name">{{ location.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="text-fields">
      <mat-select (selectionChange)="applyFilterSchoolClass($event.value)" placeholder="Klasse auswählen">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let schoolClass of schoolClasses" [value]="schoolClass.name">{{ schoolClass.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>

<table [dataSource]="persons" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="nachname">
    <th *matHeaderCellDef mat-header-cell>Nachname</th>
    <td *matCellDef="let element" mat-cell>{{ element?.last_name }}</td>
  </ng-container>
  <ng-container matColumnDef="vorname">
    <th *matHeaderCellDef mat-header-cell>Vorname</th>
    <td *matCellDef="let element" mat-cell>{{ element?.first_name }}</td>
  </ng-container>
  <ng-container matColumnDef="geburtsdatum">
    <th *matHeaderCellDef mat-header-cell>Geburtsdatum</th>
    <td *matCellDef="let element" mat-cell>{{ element?.birthdate | date: "dd.MM.yyyy" }}</td>
  </ng-container>
  <ng-container matColumnDef="rolle">
    <th *matHeaderCellDef mat-header-cell>Rolle</th>
    <td *matCellDef="let element" mat-cell>{{ element.role?.name }}</td>
  </ng-container>
  <ng-container matColumnDef="standort">
    <th *matHeaderCellDef mat-header-cell>Standort</th>
    <td *matCellDef="let element" mat-cell>{{ element.location?.name }}</td>
  </ng-container>
  <ng-container matColumnDef="klasse">
    <th *matHeaderCellDef mat-header-cell>Klasse</th>
    <td *matCellDef="let element" mat-cell>{{ element.school_class?.name }}</td>
  </ng-container>
  <ng-container matColumnDef="strasse">
    <th *matHeaderCellDef mat-header-cell>Strasse</th>
    <td *matCellDef="let element" mat-cell>{{ element.address?.street }}</td>
  </ng-container>
  <ng-container matColumnDef="hausnummer">
    <th *matHeaderCellDef mat-header-cell>Hausnummer</th>
    <td *matCellDef="let element" mat-cell>{{ element.address?.house_number }}</td>
  </ng-container>
  <ng-container matColumnDef="postleitzahl">
    <th *matHeaderCellDef mat-header-cell>Postleitzahl</th>
    <td *matCellDef="let element" mat-cell>{{ element.address?.postal_code }}</td>
  </ng-container>
  <ng-container matColumnDef="ort">
    <th *matHeaderCellDef mat-header-cell>Ort</th>
    <td *matCellDef="let element" mat-cell>{{ element.address?.location }}</td>
  </ng-container>
  <ng-container matColumnDef="land">
    <th *matHeaderCellDef mat-header-cell>Land</th>
    <td *matCellDef="let element" mat-cell>{{ element.address?.country }}</td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr (click)="highlightRow(row)" *matRowDef="let row; columns: displayedColumns" [ngClass]="{highlight: selectedRowIndex == row.id}"
      mat-row></tr>
</table>




