<mat-tab-group>
  <mat-tab label="Personensuche">
    <div class="container">
      <div>
        <mat-form-field appearance="fill" class="text-fields">
          <mat-label>Vorname</mat-label>
          <input matInput id="fname" #vornameInput (keyup)="applyFilterVorname(vornameInput.value)"
                 placeholder="Vorname">
        </mat-form-field>

        <mat-form-field appearance="fill" class="text-fields">
          <mat-label>Nachname</mat-label>
          <input matInput id="lname" #nachnameInput (keyup)="applyFilterNachname(nachnameInput.value)"
                 placeholder="Nachname">
        </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Rolle auswählen" (selectionChange)="applyFilterRollen($event.value)">
              <mat-option *ngFor="let rolle of rollen" [value]="rolle.name">{{ rolle.name }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
        <div class="dropdown-menu">
          <label for="select2">Label 2</label>
          <select id="select2">
            <!-- Put your options here -->
          </select>
        </div>
        <div class="dropdown-menu">
          <label for="select3">Label 3</label>
          <select id="select3">
            <!-- Put your options here -->
          </select>
        </div>
      </div>
      <div>

      </div>

    <table mat-table [dataSource]="personen" class="mat-elevation-z8">
      <ng-container matColumnDef="nachname">
        <th mat-header-cell *matHeaderCellDef>Nachname</th>
        <td mat-cell *matCellDef="let element">{{ element?.nachname }}</td>
      </ng-container>
      <ng-container matColumnDef="vorname">
        <th mat-header-cell *matHeaderCellDef>Vorname</th>
        <td mat-cell *matCellDef="let element">{{ element?.vorname }}</td>
      </ng-container>
      <ng-container matColumnDef="geburtsdatum">
        <th mat-header-cell *matHeaderCellDef>Geburtsdatum</th>
        <td mat-cell *matCellDef="let element">{{ element?.geburtsdatum | date: "dd.MM.yyyy" }}</td>
      </ng-container>
      <ng-container matColumnDef="rolle">
        <th mat-header-cell *matHeaderCellDef>Rolle</th>
        <td mat-cell *matCellDef="let element">{{ element.rolle?.name }}</td>
      </ng-container>
      <ng-container matColumnDef="strasse">
        <th mat-header-cell *matHeaderCellDef>Strasse</th>
        <td mat-cell *matCellDef="let element">{{ element.adresse?.strasse }}</td>
      </ng-container>
      <ng-container matColumnDef="hausnummer">
        <th mat-header-cell *matHeaderCellDef>Hausnummer</th>
        <td mat-cell *matCellDef="let element">{{ element.adresse?.hausnummer }}</td>
      </ng-container>
      <ng-container matColumnDef="postleitzahl">
        <th mat-header-cell *matHeaderCellDef>Postleitzahl</th>
        <td mat-cell *matCellDef="let element">{{ element.adresse?.postleitzahl }}</td>
      </ng-container>
      <ng-container matColumnDef="ort">
        <th mat-header-cell *matHeaderCellDef>Ort</th>
        <td mat-cell *matCellDef="let element">{{ element.adresse?.ort }}</td>
      </ng-container>
      <ng-container matColumnDef="land">
        <th mat-header-cell *matHeaderCellDef>Land</th>
        <td mat-cell *matCellDef="let element">{{ element.adresse?.land }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{highlight: selectedRowIndex == row.id}"
          (click)="highlightRow(row)"></tr>
    </table>
  </mat-tab>
</mat-tab-group>


