<div fxLayout="column" fxFill class="dialog">
  <mat-label class="mat-label">Neue Adresse</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>Strasse</mat-label>
    <input matInput [(ngModel)]="address.street">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Hausnummer</mat-label>
    <input matInput [(ngModel)]="address.house_number">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Postleitzahl</mat-label>
    <input matInput [(ngModel)]="address.postal_code">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Ort</mat-label>
    <input matInput [(ngModel)]="address.location">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Land</mat-label>
    <input matInput [(ngModel)]="address.country">
  </mat-form-field>
  <button class="mat-raised-button" mat-raised-button color="primary" (click)="save()">Speichern</button>
</div>
